<div class="alpha-sidebar">
    <div class="list-group">
        <button type="button" [routerLink]="['ag-grid']" class="list-group-item list-group-item-action active">
          Ag Grid
        </button>
        <button type="button" class="list-group-item list-group-item-action">Directives</button>
        <button type="button" class="list-group-item list-group-item-action">View Child</button>
        <button type="button" class="list-group-item list-group-item-action">Observables</button>
        <button type="button" class="list-group-item list-group-item-action">Pipes</button>
      </div>
</div>